@model AppTurmaB.Models.Funcionario

@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Funcionarios</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => Model.FuncID)
        @Html.EditorFor(model => Model.FuncID)
        @Html.ValidationMessageFor(Model => Model.FuncID)
    </div>
    <div>
        @Html.LabelFor(model => Model.Nome)
        @Html.EditorFor(model => Model.Nome)
        @Html.ValidationMessageFor(Model => Model.Nome)
    </div>
    <div>
        @Html.LabelFor(model => Model.Genero)
        @Html.EditorFor(model => Model.Genero)
        @Html.ValidationMessageFor(Model => Model.Genero)
    </div>
    <div>
        @Html.LabelFor(model => Model.Senha)
        @Html.PasswordFor(model => Model.Senha)
        @Html.ValidationMessageFor(Model => Model.Senha)
    </div>

    <div>
        @Html.LabelFor(model => Model.ConfSenha)
        @Html.PasswordFor(model => Model.ConfSenha)
        @Html.ValidationMessageFor(Model => Model.ConfSenha)
    </div>


    <p><input type="submit" value="Cadastrar" /></p>
}