@model AppTurmaB.Models.Funcionario
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultados :)</h2>

<h4>@Model.FuncID</h4>
<h4>@Model.Nome</h4>
<h4>@Model.Genero</h4>
<h4>@Model.Email</h4>
<h4>@Model.DataNasc</h4>
<h4>@Model.Login</h4>
<h4>@Model.Senha</h4>
<h4>@Model.ConfSenha</h4>